Gradual.Site-II/Backup/Gradual.Site-II.Www/Service References/CadastroCotista/cadastrocotista.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Importa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCotista" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="Cpfcnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IsentoIR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IsentoIOF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="StatusAtivo" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoTributacao" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoCotistaCVM" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="CodigoInterface" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EnderecoCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ComplementoCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BairroCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CidadeCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEPCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UFCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaisCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FoneCom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailCom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EstadoCivil" type="s:unsignedByte" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroRG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmissorRG" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataEmissaoRG" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataNascimento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Profissao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ValidateLogin" type="tns:ValidateLogin" />
      <s:complexType name="ValidateLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Exporta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCotista" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportaResult" type="tns:Cotista" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cotista">
        <s:complexContent mixed="false">
          <s:extension base="tns:esCotista" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="esCotista" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCotista" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apelido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsentoIR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsentoIOF" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusAtivo" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoCotistaCVM" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoInterface" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoTributacao" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="DataExpiracao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PendenciaCadastral" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExportaPorCpfcnpj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cpfcnpj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportaPorCpfcnpjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportaPorCpfcnpjResult" type="tns:Cotista" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ImportaSoapIn">
    <wsdl:part name="parameters" element="tns:Importa" />
  </wsdl:message>
  <wsdl:message name="ImportaSoapOut">
    <wsdl:part name="parameters" element="tns:ImportaResponse" />
  </wsdl:message>
  <wsdl:message name="ImportaValidateLogin">
    <wsdl:part name="ValidateLogin" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ExportaSoapIn">
    <wsdl:part name="parameters" element="tns:Exporta" />
  </wsdl:message>
  <wsdl:message name="ExportaSoapOut">
    <wsdl:part name="parameters" element="tns:ExportaResponse" />
  </wsdl:message>
  <wsdl:message name="ExportaValidateLogin">
    <wsdl:part name="ValidateLogin" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ExportaPorCpfcnpjSoapIn">
    <wsdl:part name="parameters" element="tns:ExportaPorCpfcnpj" />
  </wsdl:message>
  <wsdl:message name="ExportaPorCpfcnpjSoapOut">
    <wsdl:part name="parameters" element="tns:ExportaPorCpfcnpjResponse" />
  </wsdl:message>
  <wsdl:message name="ExportaPorCpfcnpjValidateLogin">
    <wsdl:part name="ValidateLogin" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:portType name="CadastroCotistaWSSoap">
    <wsdl:operation name="Importa">
      <wsdl:input message="tns:ImportaSoapIn" />
      <wsdl:output message="tns:ImportaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Exporta">
      <wsdl:input message="tns:ExportaSoapIn" />
      <wsdl:output message="tns:ExportaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportaPorCpfcnpj">
      <wsdl:input message="tns:ExportaPorCpfcnpjSoapIn" />
      <wsdl:output message="tns:ExportaPorCpfcnpjSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CadastroCotistaWSSoap" type="tns:CadastroCotistaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Importa">
      <soap:operation soapAction="http://tempuri.org/Importa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ImportaValidateLogin" part="ValidateLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exporta">
      <soap:operation soapAction="http://tempuri.org/Exporta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExportaValidateLogin" part="ValidateLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportaPorCpfcnpj">
      <soap:operation soapAction="http://tempuri.org/ExportaPorCpfcnpj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExportaPorCpfcnpjValidateLogin" part="ValidateLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CadastroCotistaWSSoap12" type="tns:CadastroCotistaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Importa">
      <soap12:operation soapAction="http://tempuri.org/Importa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ImportaValidateLogin" part="ValidateLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exporta">
      <soap12:operation soapAction="http://tempuri.org/Exporta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExportaValidateLogin" part="ValidateLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportaPorCpfcnpj">
      <soap12:operation soapAction="http://tempuri.org/ExportaPorCpfcnpj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExportaPorCpfcnpjValidateLogin" part="ValidateLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CadastroCotistaWS">
    <wsdl:port name="CadastroCotistaWSSoap" binding="tns:CadastroCotistaWSSoap">
      <soap:address location="http://financial.gradual.intra/webservices/cotista/cadastrocotista.asmx" />
    </wsdl:port>
    <wsdl:port name="CadastroCotistaWSSoap12" binding="tns:CadastroCotistaWSSoap12">
      <soap12:address location="http://financial.gradual.intra/webservices/cotista/cadastrocotista.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>