Gradual.Integracao/BTGPactual/WSBTGWebService/AppTesteWSBTG/Web References/br.com.gradualinvestimentos.wsbtg/WSBTG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/BTGTradeInterface/WSBTG" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/BTGTradeInterface/WSBTG" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/BTGTradeInterface/WSBTG">
      <s:element name="GetBMFIntraday">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cd_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ds_Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastSequence" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBMFIntradayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBMFIntradayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBMFIntradaySoapIn">
    <wsdl:part name="parameters" element="tns:GetBMFIntraday" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradaySoapOut">
    <wsdl:part name="parameters" element="tns:GetBMFIntradayResponse" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpGetIn">
    <wsdl:part name="Cd_Usuario" type="s:string" />
    <wsdl:part name="Ds_Senha" type="s:string" />
    <wsdl:part name="lastSequence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpPostIn">
    <wsdl:part name="Cd_Usuario" type="s:string" />
    <wsdl:part name="Ds_Senha" type="s:string" />
    <wsdl:part name="lastSequence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WSBTGSoap">
    <wsdl:operation name="GetBMFIntraday">
      <wsdl:input message="tns:GetBMFIntradaySoapIn" />
      <wsdl:output message="tns:GetBMFIntradaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSBTGHttpGet">
    <wsdl:operation name="GetBMFIntraday">
      <wsdl:input message="tns:GetBMFIntradayHttpGetIn" />
      <wsdl:output message="tns:GetBMFIntradayHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSBTGHttpPost">
    <wsdl:operation name="GetBMFIntraday">
      <wsdl:input message="tns:GetBMFIntradayHttpPostIn" />
      <wsdl:output message="tns:GetBMFIntradayHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSBTGSoap" type="tns:WSBTGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBMFIntraday">
      <soap:operation soapAction="http://tempuri.org/BTGTradeInterface/WSBTG/GetBMFIntraday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBTGSoap12" type="tns:WSBTGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBMFIntraday">
      <soap12:operation soapAction="http://tempuri.org/BTGTradeInterface/WSBTG/GetBMFIntraday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBTGHttpGet" type="tns:WSBTGHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBMFIntraday">
      <http:operation location="/GetBMFIntraday" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBTGHttpPost" type="tns:WSBTGHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBMFIntraday">
      <http:operation location="/GetBMFIntraday" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSBTG">
    <wsdl:port name="WSBTGSoap" binding="tns:WSBTGSoap">
      <soap:address location="http://wsbtg.gradualinvestimentos.com.br/WSBTG.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBTGSoap12" binding="tns:WSBTGSoap12">
      <soap12:address location="http://wsbtg.gradualinvestimentos.com.br/WSBTG.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBTGHttpGet" binding="tns:WSBTGHttpGet">
      <http:address location="http://wsbtg.gradualinvestimentos.com.br/WSBTG.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBTGHttpPost" binding="tns:WSBTGHttpPost">
      <http:address location="http://wsbtg.gradualinvestimentos.com.br/WSBTG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>