Gradual.Integracao.SolutionTech/Gradual.Integration.Tester/App_WebReferences/Gradual/Integration/WebService/IntegrationLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Log">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LogRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LogRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="logName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="loggingLevel" type="tns:LoggingLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loggingProperties" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LoggingLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Debug" />
          <s:enumeration value="Info" />
          <s:enumeration value="Warning" />
          <s:enumeration value="Error" />
          <s:enumeration value="Fatal" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LogResponse" />
      <s:element name="LogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogResult" type="tns:LogResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogSoapIn">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="LogSoapOut">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegrationLogSoap">
    <wsdl:operation name="Log">
      <wsdl:input message="tns:LogSoapIn" />
      <wsdl:output message="tns:LogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegrationLogSoap" type="tns:IntegrationLogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegrationLogSoap12" type="tns:IntegrationLogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap12:operation soapAction="http://tempuri.org/Log" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegrationLog">
    <wsdl:port name="IntegrationLogSoap" binding="tns:IntegrationLogSoap">
      <soap:address location="http://localhost:58780/IntegrationLog.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegrationLogSoap12" binding="tns:IntegrationLogSoap12">
      <soap12:address location="http://localhost:58780/IntegrationLog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>