Gradual.OMS-II/Gradual.OMS.InvXX.Fundos/Gradual.OMS.InvXX.Fundos.Teste/Service References/PosicaoCotista/posicaocotista.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Exporta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPosicao" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdCotista" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdCarteira" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportaResult" type="tns:PosicaoCotistaCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PosicaoCotistaCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PosicaoCotista" nillable="true" type="tns:PosicaoCotista" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PosicaoCotista">
        <s:complexContent mixed="false">
          <s:extension base="tns:esPosicaoCotista" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="esPosicaoCotista" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPosicao" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOperacao" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCotista" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCarteira" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorAplicacao" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DataAplicacao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataConversao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CotaAplicacao" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CotaDia" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorBruto" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorLiquido" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantidadeInicial" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantidadeBloqueada" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimaCobrancaIR" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorIR" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorIOF" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorPerformance" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorIOFVirtual" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="QuantidadeAntesCortes" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorRendimento" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimoCortePfee" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PosicaoIncorporada" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExportaSoapIn">
    <wsdl:part name="parameters" element="tns:Exporta" />
  </wsdl:message>
  <wsdl:message name="ExportaSoapOut">
    <wsdl:part name="parameters" element="tns:ExportaResponse" />
  </wsdl:message>
  <wsdl:portType name="PosicaoCotistaWSSoap">
    <wsdl:operation name="Exporta">
      <wsdl:input message="tns:ExportaSoapIn" />
      <wsdl:output message="tns:ExportaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PosicaoCotistaWSSoap" type="tns:PosicaoCotistaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Exporta">
      <soap:operation soapAction="http://tempuri.org/Exporta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PosicaoCotistaWSSoap12" type="tns:PosicaoCotistaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Exporta">
      <soap12:operation soapAction="http://tempuri.org/Exporta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PosicaoCotistaWS">
    <wsdl:port name="PosicaoCotistaWSSoap" binding="tns:PosicaoCotistaWSSoap">
      <soap:address location="http://financial.gradual.intra/webservices/cotista/posicaocotista.asmx" />
    </wsdl:port>
    <wsdl:port name="PosicaoCotistaWSSoap12" binding="tns:PosicaoCotistaWSSoap12">
      <soap12:address location="http://financial.gradual.intra/webservices/cotista/posicaocotista.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>