Gradual.Integracao/BNPParibas/APPTesteWSBNP/Web References/br.com.gradualinvestimentos.wsbnpparibas/WSBNP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/WSBNPParibas/WSBNP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/WSBNPParibas/WSBNP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WSBNPParibas/WSBNP">
      <s:element name="GetBMFIntraday">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastSequence" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBMFIntradayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBMFIntradayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBMFIntradaySoapIn">
    <wsdl:part name="parameters" element="tns:GetBMFIntraday" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradaySoapOut">
    <wsdl:part name="parameters" element="tns:GetBMFIntradayResponse" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="lastSequence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="lastSequence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBMFIntradayHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="WSBNPSoap">
    <wsdl:operation name="GetBMFIntraday">
      <wsdl:input message="tns:GetBMFIntradaySoapIn" />
      <wsdl:output message="tns:GetBMFIntradaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSBNPHttpGet">
    <wsdl:operation name="GetBMFIntraday">
      <wsdl:input message="tns:GetBMFIntradayHttpGetIn" />
      <wsdl:output message="tns:GetBMFIntradayHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSBNPHttpPost">
    <wsdl:operation name="GetBMFIntraday">
      <wsdl:input message="tns:GetBMFIntradayHttpPostIn" />
      <wsdl:output message="tns:GetBMFIntradayHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSBNPSoap" type="tns:WSBNPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBMFIntraday">
      <soap:operation soapAction="http://tempuri.org/WSBNPParibas/WSBNP/GetBMFIntraday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBNPSoap12" type="tns:WSBNPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBMFIntraday">
      <soap12:operation soapAction="http://tempuri.org/WSBNPParibas/WSBNP/GetBMFIntraday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBNPHttpGet" type="tns:WSBNPHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBMFIntraday">
      <http:operation location="/GetBMFIntraday" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSBNPHttpPost" type="tns:WSBNPHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBMFIntraday">
      <http:operation location="/GetBMFIntraday" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSBNP">
    <wsdl:port name="WSBNPSoap" binding="tns:WSBNPSoap">
      <soap:address location="http://wsblotter2.gradualinvestimentos.com.br/WSBNP.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBNPSoap12" binding="tns:WSBNPSoap12">
      <soap12:address location="http://wsblotter2.gradualinvestimentos.com.br/WSBNP.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBNPHttpGet" binding="tns:WSBNPHttpGet">
      <http:address location="http://wsblotter2.gradualinvestimentos.com.br/WSBNP.asmx" />
    </wsdl:port>
    <wsdl:port name="WSBNPHttpPost" binding="tns:WSBNPHttpPost">
      <http:address location="http://wsblotter2.gradualinvestimentos.com.br/WSBNP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>