Gradual.Intranet/Gradual.StockMarket/StockMarket.Excel2007/Service References/WsPlataforma/Plataforma.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarCarteirasComAtivos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRequest" type="tns:BuscarCarteirasComAtivosRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BuscarCarteirasComAtivosRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoDoUsuario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarCarteirasComAtivosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarCarteirasComAtivosResult" type="tns:BuscarCarteirasComAtivosResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BuscarCarteirasComAtivosResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespostaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Carteiras" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Ativos" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RespostaBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusResposta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescricaoResposta" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarCarteirasComAtivosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarCarteirasComAtivos" />
  </wsdl:message>
  <wsdl:message name="BuscarCarteirasComAtivosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarCarteirasComAtivosResponse" />
  </wsdl:message>
  <wsdl:portType name="PlataformaSoap">
    <wsdl:operation name="BuscarCarteirasComAtivos">
      <wsdl:input message="tns:BuscarCarteirasComAtivosSoapIn" />
      <wsdl:output message="tns:BuscarCarteirasComAtivosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlataformaSoap" type="tns:PlataformaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCarteirasComAtivos">
      <soap:operation soapAction="http://tempuri.org/BuscarCarteirasComAtivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlataformaSoap12" type="tns:PlataformaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarCarteirasComAtivos">
      <soap12:operation soapAction="http://tempuri.org/BuscarCarteirasComAtivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Plataforma">
    <wsdl:port name="PlataformaSoap" binding="tns:PlataformaSoap">
      <soap:address location="http://localhost/Gradual.OMS.WsIntegracao/Plataforma.asmx" />
    </wsdl:port>
    <wsdl:port name="PlataformaSoap12" binding="tns:PlataformaSoap12">
      <soap12:address location="http://localhost/Gradual.OMS.WsIntegracao/Plataforma.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>